<footer class="d-print-none container-fluid">
    <div class="row">
        <div class="col-6 col-lg-4" role="navigation">
            <div class="container-fluid">
                <div class="row">
                </div>

                <div class="tag row d-none d-lg-flex">
                    for users
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4">
            <p class="text-center copyright" role="contentinfo">
                Alameda
                {{ if .Site.Data.args.archive }}
                    Archive
                {{ else if .Site.Data.args.preliminary }}
                    Preliminary
                {{ end }}
                {{ .Site.Data.args.version }}<br>&copy; 2018 Alameda Authors<br>
                {{ if .Site.Data.args.archive }}
                    Archived on {{ .Site.Data.args.archive_date.Format "January 2, 2006"}}
                {{ else }}
                    Built on {{ now.Format "January 2, 2006" }}
                {{ end }}
            </p>
        </div>

        <div class="col-6 col-lg-4 d-none d-lg-flex" role="navigation">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <div class="icon">
                        <span>github</span>
                        <a title="GitHub is where development takes place on Alameda code"
                           href="https://github.com/containers-ai/alameda" aria-label="GitHub">
                            {{ partial "icons/github.svg" }}
                        </a>
                    </div>
                </div>

                <div class="tag row justify-content-end text-right">
                    for developers
                </div>
            </div>
        </div>
    </div>
</footer>
